---
// Import Components & Scripts
import TextBlock from './TextBlock.astro'
import ImageBlock from './ImageBlock.astro'
import VideoBlock from './VideoBlock.astro'

// Define Types
interface Props {
  title?: string;
  size?: 'page' | 'feature';
  columns: Array<any>; // Will be textBlock, imageBlock, or videoBlock
}

// Define Vars
const { size = 'page', columns } = Astro.props
---

<!-- ColumnsBlock -->
<div class={`grid gap-6 multicols ${size} lg:grid-cols-[repeat(auto-fit,_minmax(320px,_1fr))]`}>
   {columns &&
    columns.map((column) => {
      switch (column._type) {
        case 'textBlock':
          return <div class="col"><TextBlock content={column.text} size="inherit" /></div>
        case 'imageBlock':
          return <div class="col"><ImageBlock image={column.image} alt={column.alt} size="inherit" /></div>
        case 'videoBlock':
          return <div class="col"><VideoBlock video={column} size="inherit" /></div>
        default:
          return null
      }
    })
  }
</div>

<style>
  .multicols.page {
    grid-column: page;
  }
  
  .multicols.feature {
    grid-column: feature;
  }
</style>